body{
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.intro, .footer {
    background-color: #1F2937;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

.header a {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.header ul {
    list-style-type: none;
}

.header a:hover {
    background-color: rgba(16, 191, 245, 0.74);
}

.header a, .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.initial {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.about img {
    color: rgba(255, 255, 255, 0.514);
    background-color: grey;
}

button, .call {
    background-color: #3882F6;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote p { 
    color: #1F2937;
    text-align: right;
}

.footer { 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}